[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-migrate = "==2.7.0"
psycopg2-binary = "*"
Flask-SQLAlchemy = "*"
flask-wtf = "*"
email-validator = "*"
flask-script = "==2.0.5"
flask-login = "*"
flask-reuploaded = "*"

[dev-packages]

[requires]
python_version = "3.9"
