{% extends 'base.html' %} {% block content %}


  <div class="nav-wrapper">
    <a href="/auth/login">login</a>
    <a href="/auth/signup">signup</a>
   

  </div>
<div class="index-container">
  <div class="index-art-wrapper">
  </div>

  <div class="content-wrapper">
    <div id="animated-title">
      <div class="text-top">
        <div>
          <span class="title-info">PITCHME</span>
          <span> Trust us to get you Pitch ready! </span>
        </div>
      </div>
      <div class="text-bottom">
        <div>
          In life, you only have 60 seconds to impress someone. 1 minute can
          make or break you. let's make sure that you use your 1 minute to
          actually say something meaningful,<a href="/auth/login">
            click here to login</a
          >
          or <a href="/auth/signup">click here to signup.</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="subtitle-wrapper">
  <h1>PITCHME</h1>
   <p>landing page||PitchMe||Copyrigths2022||creative-designs</p>
</div>

<!-- {%if current_user.is_authenticated%} -->

<!-- {%endif%} -->
<!-- <div class="footer-index">
  <p>landing page||PitchMe||Copyrigths2022||creative-designs</p>
</div> -->


{% endblock %}

<!-- <div class="logo-wrapper">
      <h1 class="title">PITCH ME</h1>
    </div>

    <div class="info-wrapper">
      <h3>Trust us to get you Pitch ready.</h3>
      <p>
        In life, you only have 60 seconds to impress someone. 1 minute can make
        or break you. let's make sure that you use your 1 minute to actually say
        something meaningful,<a href="/auth/login"> click here to login</a> or
        <a href="/auth/signup">click here to signup</a>
      </p>
    </div> -->
