{% extends 'base.html' %} {% block content %}

<div class="nav-wrapper">
  <a href="/pitches/add">create Pitch</a>
  <a href="{{url_for('auth_blueprint.logout')}}">logout</a>
</div>

<div class="title-wrapper-pitchme">
  <h1>PITCHME</h1>
</div>
{% for pitch in pitches %}
<div class="pitches-container">
  <div class="pitches-wrapper">
    <h4 class="content">{{pitch.title}}</h4>
    <p class="content">{{pitch.body}}</p>
    <p class="content">{{pitch.category}}</p>
    <form action="/comment/{{pitch.id}}/add" method="post" class="content-form">
      {{comment_form.csrf_token}}
      <p>
        {{comment_form.comment(placeholder="comment",class="input-comment")}}
      </p>
      <p>{{comment_form.submit(class="button")}}</p>
    </form>
    <div class="comment-content-content">
      {%for comment in pitch.comments%}
      <p class="comment-content">{{comment.comment}}</p>
      {%endfor%}
    </div>
  </div>
</div>
{% endfor %}

<div class="footer">
  <p>login page||PitchMe||Copyrigths2022||creative-designs||</p>
</div>

{% endblock %}
